
<div class="row p-5" dir="ltr">
<div class="accordion " id="accordionPanelsStayOpenExample">
    <div class="accordion-item p-0">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          قوانين الدسكورد
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <br>1 - ااحترام جميع الأعضاء والأحترام مبدأ الجميع
          <br><br>
2 - يمنع النقاشات الدينية او السياسية في السيرفر كلنا موجودين للترفيه
<br><br>
3 - ممنوع السبام في الشات ( تكرار الكلام )
<br><br>
4 - يمنع منعها باتا انتحال الشخصيات مثال شخصية ادمن او المشاهير
<br><br>
5 - يمنع الاعلان او نشر اي مقاطع او بثوث في شات الالعاب سواء كان له علاقة في اللعبة او نشر المقاطع الشخصية
<br><br>
7 - يمنع الاعلان عن اي سيرفر اخر سواء في العام او الخاص
<br><br>
8 - يمنع منعا باتا طلب أي رتبة من الرتب سواء رتب تفاعل أو ادارة
<br><br>
9 - عدم وضع افتار او اسم او بايو مخل بالأداب العامة وقد تعرضك للبلاك لست
<br><br>
10 - لا للكراهية والسلوك السام أو العنصرية من أي نوع
<br><br>
11 - التسبب بإزعاج لـ العامة قد يعرضك لعقوبات تصل الى الباند او البلاك لست
<br><br>
12 - يمنع استفزاز أو سب.. شتم أي شخص في أي روم بالسيرفر سواء كان عن طريق الرسائل الخاصة أو الرسائل العامة وكذلك عن طريق الصوت
في حالة أخطأ شخص بحقك يمكنك رفع شكوى عليه عن طريق التوجه إلى انتظار الدعم الفني او فتح تكت مع وجود دليل.
<br><br>
13 - يجب ان تعلم انك متواجد في مكان عام ويوجد فيه كل الفئات العمرية المختلفة فيجب تقدير هذا الشيء والتحدث بكل لباقة
<br><br>
14 - يمنع منعا باتا تشويه سمعة الاعضاء او الادارة او السيرفر وعقوبتها تصل للباند
<br><br>
15 - يمنع منعا باتا تشغيل اي بوت بعنوان مسيئ او بمقطع مسيئ كمثال مقطع يحتوي على قذف او عنصرية
<br><br>
16 - استخدام اوامر البوتات او الاغاني فقط في الشاتات المخصصة لها
<br><br>
17 - يمنع ازعاج الادارة او التدخل بشؤون الادارة
<br><br>
18 - التحرش في الخاص او فالسيرفر عليها باند نهائي
<br><br>
19 - منع استخدام البلوقن واظهار الرومات المخفية او نسخ السيرفر .. عقوبتها باند
<br><br>
ادارة السيرفر متواجدة على مدار الساعة في حال عندك شكوى لاتترد بـ الأبلاغ عنها
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          قوانين التفعيل
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          
          1- الجدية بتقمص الشخصية 
          <br><br>
2-عند دخولك الى المدينة يجب كتابة الاسم بالعربي
<br><br>
3-ممنوع فك الحبل اذا ربطت
<br><br>
4-يمنع القتل والصدم العشوائي منعا باتا 
<br><br>
5-يجب عليك تقدير حياتك وأيضا تقدير موقعك اذا كنت مهددا بسلاح ناري وانت لا تحمل سلاحا بيديك 
<br><br>
6-يجب ان يكون مايك صافي وواضح ليس بة مشاكل
<br><br>
7-يجب التحدث باللغة العربية الفصحى ويمنع التحدث بأي لغة اخرى او لهجة 
<br><br>
8:-يمنع التواصل من خلال برامج خارجية مثل ديسكورد وغيرة في وقت الالغاز والسيناريوهات  والسرقات وهذا اسمة تواصل غير شرعي
<br><br>
9-يمنع التحدث خارج الرول بلاي وذكر مصطلحات مثل : بوت-مخالف دستور ويسمح بقول العالم الاخر وعضلة.... لتوضيح امر ما
<br><br>
10-البوتات يسمون داخل اللعبة بالمدنين او السكان الاصليون او المواطنين ويمنع قتلهم الا في حال هجومهم عليك او سرقتهم لك
<br><br>
11- يمنع الهرب وانت مكلبش الا اذا رجل القانون غافل عنك 
<br><br>
12- اذا تم قتلك يمنع تذكر اخر 15 دقيقة 
<br><br>
13-يمنع قتل المواطنين او سرقتهم داخل المدينة 
<br><br>
14-يجب عليك تشغيل برنامج التصوير من دخولك الى السيرفر حتى خروجك لكي تضمن جميع حقوقك
<br><br>
15-يمنع سرقة الاحصنة داخل المدن منعا باتا 
<br><br>
16-يمنع القتل والسرقة في اماكن العمل 
<br><br>
17- يمنع السب او القذف او التحدث في امور السياسة داخل السيرفر
<br><br>
18- يجب بناء هدف واضح للشخصيه وتقمصها 
<br><br>
19- يمنع الهرب بالقطار اثناء ملاحقتك من رجال القانون او مواطن او اي احد كان
<br><br>
20- في حال كنت في سيناريو او في مطاردة او مخطوف الى اخره و كرشت عليك ( ترجع وتكمل السيناريو او تسلم نفسك ) 
<br><br>
21- يجب عند دخولك السيرفر ان يكون معك تصوير في حال واجهت مشكلة او شيء واذا طلب الاداري منك تصوير لابد تسليمه التصوير كامل من بداية السالفه
<br><br>
22- يمنع الشخصنه والتصييد على الاخرين و ممنوع الاستفزاز وعدم احترام المواطنين
<br><br>
23- يمنع تتغير الشخصيه في حال كنت مطارد من رجال القانون او في سيناريو
<br><br>
24- ممنوع القتل في المدينه الامنه اي حد يخالف القانون يعرض نفسه للسجن لا تقل عن 30 شهر تكرارها يعرضك لاشد العقوبات
<br><br>
25- ممنوع التلويت في المدينه الامنه ومن يخالف يعرض نفسه للسجن 30 شهر تكرارها يعرضك لاشد العقوبات
<br><br>
26- في حال تم سجنك و تحاول الهروب سوف يتم اعادتك على السجن + تزيد المده تلقائيًا
<br><br>
27- اعادة السكن او الشخصيه يعتبر قلتش RC
<br><br>
28- المناطق خارج المدن غير امنه لرجال القانون في الليل وفي النهار [ امنه فقط فـي النهار للمواطنين ]
<br><br>
29- اذا كنت تريد الصيد والاستمتاع عليك ان تسجل خروج كا [ رجل قانون ] وتلعب كا مواطن وتستطيع الخروج في النهار دون ان يكلمك شخص ما
<br><br>
30 -يمنع منعا باتا  رد الغلط بل غلط  و في حال خالفت سيتم محاسبتك 20 شهر
<br><br>
31- ممنوع قتل او تلويت او تربيط الاشخاص الذينا يذهبون بالفاست ترفل(العربه) صباح او ليل ممنوع 

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          قوانين المناطق الامنه
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          1- مدينة فلنتاين آمنه
          <br><br>
          2- مدينة ساندينس آمنه
          <br><br>
          3- بلاك ووتر آمنه
          <br><br>
          4- اماكن العمل امنه
          <br><br>
          5- جزيرة قوارما آمنه ولا يجوز القتل والتلويت بها
          <br><br>
          6- تعتبر مدينة ارمدلو منطقة فايتات ويمنع الخطف و التلويت بها
          <br><br>
          7- ممنوع تلويت رجال القانون الا في الحروب مع القبائل وتعتبر اغراضهم غنائم حرب
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading4">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
          قوانين الحديقة الملكية في بلاك واتر
        </button>
      </h2>
      <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
        <div class="accordion-body">
          1- ممنوع الدخول الى الحديقه بالخيل والسلاح وغرامة المخالف 500 دولار 
          <br><br>
          2- ممنوع التلويت وعقابها يصل للباند
          <br><br>
          3- تخضع الملكيه لرقابة الاداره والرقابه متواجده ولها الحق بالتحدث واستخدام الصلاحيات الاداريه
          <br><br>
          4- ممنوع الخطف والقتل و الاختباء في الملكيه اثناء المطاره و السيناريوهات
          <br><br>
          5-يمنع الاستفزاز وعقابه 5-20 حسب العبارات المستفزه
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading5">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
          قوانين الحانه
        </button>
      </h2>
      <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5">
        <div class="accordion-body">
          1 - الحانه الخاصه تحت الارض تعتبر غير قانونيه و يتم بيع فيها الخمور و المخدرات
          <br><br>
          2- في حال دخولك الحانه يمنع منعا باتا اخراج السلاح او وضعه على ظهرك جميع الاسلحه تضع في الحقيبه
          <br><br>
          3- ممنوع الخروج عن الرول بلاي و التلفط بكلام بذيء
          <br><br>
          4- عليك ان تلتزم باحترام الاخرين وعدم ازعاج زوار الحانه و ان رأيت اشخاصأ يتحاورون فمن باب الادب استاذانهم في الدخول ب الحوار
          <br><br>
          5- ممنوع تشغيل سوندباد (مشغل الصوت) يسمح فقط لشخص واحد تشغيل الاصوات ويتم اختياره من قبل صاحب الحانه
          <br><br>
          6- يسمح لصاحب الحانه بوضع فقط شخصين لحراسه الحانه
          <br><br>
          7- في حال اي مواطن يخالف داخل الحانه مثل السكر الشديد و عدم احترام الاخرين يحق لحراس الحانه طرده و يمنع رفض اوامر حراس الحانه
          <br><br>
          8- يسمح لصاحب الحانه التجارة ب الخمور و المخدرات
          <br><br>
          9- في حال دخلت الحانه الخاصه تعتبر منطقه امنه ويمنع القتل فيها
          <br><br>
          10- يمنع منعا باتا دخول رجال القانون الحانات الخاصه
          <br><br>
          11 - يمنع منعا باتا مداهمه الحانه الخاصه
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading6">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
          قوانين الاجرام والسرقات
        </button>
      </h2>
      <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading6">
        <div class="accordion-body">
          1- يمنع السرقه المتتالية وبين كل سرقة وسرقة 20دقيقة ويجب ان يكون معك سلاح
          <br><br>
          2- في حال معك رهينة اثناء السرقة يحق لك طلب المال او هروب امن
          <br><br>
          3- يحق لك قتل الرهينة في حال ما تجاوب معك او في حال فشل التفاوض مع رجال القانون
          <br><br>
          4- يمنع منعاً باتا تدخل مجرمين من الخارج أثناء المفاوضات او وجود احد المجرمين بالقرب من موقع التفاوض ويسمح بالتدخل فقط عند الهروب
          <br><br>
          5- يمنع منعاً باتا الاعتداء على المفاوض
          <br><br>
          6- يجب ان لا يقل عدد رجال القانون في المدينه عن 5
          <br><br>
          7- تهديد العسكري لمدة 10 ثانية  في حال استجاب يمكن ان تأخذه كرهينة أو انك تطلبه فلوس او تقتله
          <br><br>
          8- يمنع خطف رهينة بالاتفاق لأي سبب من الأسباب
          <br><br>
          9- مدة الخطف 20 دقيقة فقط واذا تأخرت تترك المواطن في حال سبيلة وعدم قتلة او سرقته
          <br><br>
          10- في حال تريد سرقة شخص يجب عليك تهديده وبعد سرقته لا يحق لك قلته
          <br><br>
          11- ممنوع خطف الملك منعا باتا
          <br><br>
          12- ممنوع خطف القضاه منعا باتا
          <br><br>
          13-  الغاء الليل والنهار للقتل والاجرام + الغاء التهديد بمجرد انك خارج الامنه تحمل ما يحصل بك ولكن لا تنسى ان تقدر حياتك يا عزيزي
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading7">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false" aria-controls="panelsStayOpen-collapse7">
          قوانين النصب في المناطق الامنة
        </button>
      </h2>
      <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading7">
        <div class="accordion-body">
          1- القانون لا يحمي المغفلين
          <br><br>
          2- يجب عليك الاحتيال دون استخدام العنف بحيث عليك استدراج الهدف واقناعه
          <br><br>
          3- عليك الخوف على حياتك والهروب خارج المنطقه التي قمت بعملية النصب بها

          <br><br>
        <strong>سؤال : اذا قام احد المحتالون بالنصب عليك ماذا يمكنك فعله؟</strong>
        <br><br>
        1- علي ان احرص اولاً على ان يكون معي شهود على الحادثه
        <br><br>
        2- اذا تم النصب علي يجب ان اسرع بأبلاغ رجال القانون لوضع المجرم في قائمة المطلوبين للعداله
        <br><br>
        3-يمكنني طلب زورو لمساعدتي في اخذ حقي
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading8">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false" aria-controls="panelsStayOpen-collapse8">
          قوانين قطاع الطرق
        </button>
      </h2>
      <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading8">
        <div class="accordion-body">
          1- مجموعة قطاع الطرق يجب لا تكثر عن 3 اشخاص في مكان واحد
          <br><br>
          2- في سيناريو تحرير السجناء وقطع الطريق على رجال القانون لا يجوز ان يكون عدد القاطعين اكثر من 3 اشخاص
          <br><br>
          3- في حال تم تحرير الرهينه يجب ارسال برقيه للتعرف على المتواجد فيه مرتكبي الجريمه
          <br><br>
          4- ومن ثم يبدأ سيناريو القاء القبض من قبل رجال القانون
          <br><br>
          5- لا يجوز لمواطن قطـع الطريق الا في المناطق الغير امنه ويمنع قطع الطريق على التنقل السريع ( العربات )
          <br><br>
          6- لايجـوز لك خـــطــف احد من المواطنين الا بعد تهديد المباشر
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading9">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false" aria-controls="panelsStayOpen-collapse9">
          قوانين الالغاز
        </button>
      </h2>
      <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading9">
        <div class="accordion-body">
          1- ممنوع التواصل في ديسكورد  او بما يعرف بتواصل غير شرعي
          <br><br>
          2- ممنوع تخريب المشاهد او تحدث اثنائها او مقاطعه الكلام وتحدث بكثرة
          <br><br>
          3-ممنوع ضرب والقتل اثناء اللغز الا ان تطلب القتل باللغز
          <br><br>
          4- ممنوع العودة لـ اكمال اللغز ان مت سواء موته طبيعيه او بقتل او من الجوع
          <br><br>
          5-يجب تعامل مع سناريوهات بـ حوار وتخطيط وتفكير وان تطلب الامر النقاش بين لاعبين الاخريين او الممثليين
          <br><br>
          6-ممنوع منعا باتا الخروج عن الرول بلاي
          <br><br>
          7-اذا تم اعدامك من شخصية رئيسية باللغز ( بناءا على اختياراتك ) فسوف تصفر شخصيتك ( يجب عليك الاختيار بعناية وعدم التسرع والتهور)
          <br><br>
          8-يمنع القتل او التهديد اثناء الغز ومن يخالف هذا يسجن 30
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading10">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
          حالات الباند النهائي
        </button>
      </h2>
      <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading10">
        <div class="accordion-body">
          1- استخدام هاك
          <br><br>
          2- نشر سيرفرات او روابط
          <br><br>
          3- قذف والسب 
          <br><br>
          4- استخدام القلتشات
          <br><br>
          5-التخريب المستمر
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading11">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse11" aria-expanded="false" aria-controls="panelsStayOpen-collapse11">
          قوانين تجارة الاسلحة الممنوعه في الامنه
        </button>
      </h2>
      <div id="panelsStayOpen-collapse11" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading11">
        <div class="accordion-body">
          1 - ممنوع التجارة امام جميع المواطنين في حال لم يكن معك رخصة
          <br><br>
          2 - ممنوع التجارة في المدن التي يتواجد بها الناس
          <br><br>
          3 - التجارة بالاسلحة فقط بينك وبين العميل عند التوافق معه
          <br><br>
          4 - عند القبض عليك بمسرح الجريمة يحق للرجال القانون القبض عليك و سحب اسلحته
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading12">
        <button class="accordion-button collapsed  text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse12" aria-expanded="false" aria-controls="panelsStayOpen-collapse12">
          قوانين المتجر
        </button>
      </h2>
      <div id="panelsStayOpen-collapse12" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading12">
        <div class="accordion-body">
          - في حال شرائك أي منتج من المتجر فـ انت توافق على هذه الشروط التالية  
          <br><br>
          1 - في حال تم تبنيدك نهائي من السيرفر يتم سحب جميع الاغراض التي تم شرائها من المتجر ولا يوجد تعويض لذلك .
          <br><br>
          2 - ممنوع التجارة في المنتجات بمعنى شراء المنتج من المتجر واعادة بيعها .
          <br><br>
          3 - يحق للادارة سحب أي حزمة منك في حال استخدمتها بشكل خاطئ .
          <br><br>
          4 - يحق للادارة سحب حزمة الشخص اذا ماتفاعل بالسيرفر لمدة شهر كامل من دون اجازة   .
          <br><br>
          5- لا يحق لك المطالبة بتعويض في حال تم سحب منك أي رتبة بسبب عدم مراعاتك لقوانين الرتبة أو الحزمة و احترامها .
          <br><br>
          6 - في حال خروجك من سيرفر الدسكورد (تلفيت) اكثر من مرة يتم سحب منك الحزم  .
          <br><br>
          7- يحق للإدارة التعديل على خواص الحزم بما تراه مناسبا لما تقتضيه المصلحة العامة للسيرفر.
          <br><br>
          8- يحق لإدارة السيرفر التعديل على القوانين بأي وقت وبدون سابق انذار.
          <br><br>
          9-الحزم التي تباع لا ترد ولا تستبدل.
          <br><br>
          10- لا يجوز لاصحاب الحزم توزيع المال من الراتب الاستثنائي في حال قمت بذلك تعتبر مخالف.
          <br><br>
          -ملاحظه
          <br><br>
          -في حال كنت داعم بسيرفر فالنتاين و كنت مخالف داخل السيرفر  يتم محاسبتك على قوانين سيرفر نفس اي مواطن
          <br><br>
          لدعم السيرفر ماديا من اجل تطويره :
          <br><br>
          -في حال دعمت من 50$ الى 100$
           سيتم منحك رتبة داعـم السـيرفـر الثـالـث
           <br><br>
          
          -في حال دعمت من 150$ الى 200$
           سيتم منحك رتبة داعـم السـيرفـر الثـاني
           <br><br>
          -في حال دعمت من 200$ الى 350$ 
            سوف يتم منحك رتبة داعـم السـيرفـر الأول +حزمة من اختيارك
          مع رول كـبـار داعمـين السـيرفـر
          <br><br>
          ------------------------------------------------------------------------------------------------------------------------------------------
          <br><br>                                                          
           VIP قوانين حزم                                                               
           <br><br>
           -قوانين ZORRO
          <br><br>
          -ZORRO
          <br><br>
          -زورو: هو حامي المدينه والمدافع عن العداله والحامي لحقوق المواطنون
          <br><br>
          #1-يحق لزورو الكشف عن نفسه في المدينه وخارج المدينه
          <br><br>
          #2-ممنوع تلويت زورو منعا باتا او اخذ حصانه او اخذ اسلحته ومن يخالف التعليمات يتعرض للباند النهائي 
          <br><br>
          #3-ممنوع على زروو اعطاء نقود او ذهب او اسلحه للمواطنين او العصابات او رجال  القانون اسلحه زورو خاصه فيه فقط لوحده
          <br><br>
          #4-يحق لزورو القاء القبض من غير اعلان لأي شخص خارج عن القانون في المناطق الامنه او الغير امنه
          <br><br>
          #5-يحق فقط للجنرال او النائب او كبير القضاه او من ينوب عن كبير القضاه الطلب من زورو تسليم المطلوبين للعداله  مقابل مبلغ مالي وهو كحد ادنى 2000$  وكحد اقصى 5000$ د
          <br><br>
          #6-يحق لاكثر من شخص ( الي معهم حزمه زورو التواجد في سيناريو القبض او المداهمه او احضار المطلوبين لدى العداله والتواجد في راديو زورو في الديسكورد في حال كنت خارج الراديو يعتبر السيناريو ملغي وستتم محاسبه زورو المخالف باشد العقوبات )
          <br><br>
          #7-ممنوع استخدام خواص زورو على المواطنين منعا باتا
          <br><br>
          #8- يحق ل زورو تنظيم المدينه يعني ( يقوم باعمال رجل القانون )
          <br><br>
          #9-يحق لك قتل زورو اذا كنت عضو في عصابه فقط في الليل او النهار فقط اذا كان خارج المدينه ولا يحق لك تلويته ابدا 
          <br><br>
          #10-يحق لزورو القاء القبض عليك وتسليمك للعداله في حال كنت عضو عصابه مطلوب او مواطن مطلوب للعداله اذا كنت متواجد داخل المدينه او خارجها  في النهار او الليل 
          <br><br>
          #11-على زورو الالتزام بقوانين المدينه التي يدخلها وعدم تعريض سكانها للخطر
          <br><br>
          -12-اي تخريب في الحزمه او طريقه سيئه باستخدامها يتم محاسبه من قبل مسؤول الحزمه
          <br><br>
          -13-يجب على المواطنين او رجال قاون احترام زورو والعكس صحيح
          <br><br>
          القوانين قابله للتغيبر بما نراه مناسبا للحزمه
          <br><br>
          ------------------------------------------------------------------------------------------------------------------------------------------
          <br><br>
          ROBIN HOOD
          <br><br>
          -قوانين روبن هود 
          <br><br>
          #يحق لروبن هود اصطياد اي محتال ونصاب في المدينه
          <br><br>
          #يحق لروين هود تلويت اي شخص خارج المدينه في النهار او الليل شرط ان يكون الشخص معه  100 دولار واكثر اقل ممنوع ويجب ان يكون مسجل دخوله ولابس الملابس الرسميه للشخصيه
          <br><br>
          #ممنوع استخدام اسلحه روبن هود الا وقت السيناريوهات  او المداهمات  ( على عصابه ) او عند بدء اصطياد (شخص معين ) يطلب منه اصطياده
          <br><br>
          #ويحق له فقط استخدام 3 اسهم متفجره في السيناريوهات
          <br><br>
          #ممنوع التعرض لروبن هود الا في حال وقت السيناريو او الاصطياد فقط 
          <br><br>
          #ممنوع تلويته وممنوع قتله خارج الامنه او داخلها
          <br><br>
          #عند اصطياد شخص يجب على روبن هود انزال اعلان في شات الصيادين 
          <br><br>
          # روبن هود شخصيه مستقله ولا يتبع لاي احد يمكنه مساندة العصابات او رجال القانون
          <br><br>
          #يحق لروبن هود عمل اي سيناريو او اصطياد في اي وقت كان نهارا  او ليلا شريطه ان ينزل اعلان قبل كل شيء
          <br><br>
          #شخصيه روبن هود قصير القامه ممنوع استخدام الشخصيات الكبيره
          <br><br>
          #ممنوع محاسبه روبن هود من اي شخص داخل السيرفر فقط الي يحاسبه مسؤول الحزمه
          <br><br>
          -قوانين DJANGO
          <br><br>
          -DJANGO
          <br><br>
          - هي شخصيه صائد جوائز ( القاتل المأجور )
          <br><br>
          #1 - على صائد الجوائز عدم الكشف عن نفسه داخل المدن 
          <br><br>
          #2- في حال المواطنون تعرفو على ملابسك عليك ان تغيرها وتتنكر من جديد
          <br><br>
          #3- في حال احد طلبك لاغتيال شخصا ما يجب تحديد المكان من قبل قاتل المأجور و يجب عليك لبس القناع اثناء الاتفاق 
          <br><br>
          #4- طلبات الاغتيال توصل الى مبلغ مالي وهو كحد اقصى 2500 دولار يتم الدفع نصف المبلغ قبل العمليه والنصف الاخر بعد نجاح العمليه في حال فشل العمليه لا يأخذ النصف الباقي ويحتفظ بالنصف الاول من الاتفاق قبل العمليه
          <br><br>
          #5- يسمح لصائد الجوائز قتل في الصباح و اليل فقط في حال وجود طلب ( اغتيال )
          <br><br>
          #6- يمنع منعا باتا الكتابه في الشات عن اي عمليه اغتيال او ذكر انك صائد جوائز ولكن يسمح باستخدام شفرات او كلام سر للتفاهم ( نلقتي في فرن هارون ) = اي نلتقي في فارن هورن
          <br><br>
          #7-  يجب على صائد الجوائز لبس قناع اثناء الاغتيال 
          <br><br>
          #8- يجب على صائد الجوائز تغير لباسه بين فتره و فتره لكي لا احد يعرفه
          <br><br>
          #9- يمكنه اغتيال اي شخص دون علمه و لاكن يجب ان  يكون هنالك طلب من شخص معين في روم مخصص لصائدين الجوائز او عبر الشات ويستخدم جملة من يأخذ بثأري؟
          <br><br>
          #10- يمنع منعاً باتاً على المواطنين ذكر اسم القاتل المأجور الذي سوف يتم بعملية الاغتيال
          <br><br>
          #11- يمنع منعا باتا على اي شخص ما معرفه منزل صائد الجوائز
          <br><br>
          -في حال صائدين الجوائز خالفو قوانين الحزمه يتم محاسبتهم من قبل مسؤول الحزم
          <br><br>
          +في حال مخالفتك ك رول بلاي يتم محاسبتك على قوانين السيرفر من قبل الادارة
          
          -يمنع منعا باتا من اي مواطن مساندة الشخص الذي سوف يتم اغتياله وفي حال مخالفه ذالك سيتم سجنك 60د 
          <br><br>
          .                                                      البيوت والتصاميم الخاصه                                                             .
          <br><br>
          -اصحاب البيوت والتصاميم الخاصه في السيرفر
          <br><br>
          -البيوت او التصاميم المعروضه للبيع او المصممه حسب طلب الاعب 
          <br><br>
          - جميع البيوت التي تم شراءها من قبل متجر السيرفر يمكنك اعادة بيعها والاستفاده منها
          <br><br>
          #1 - حين تكون تكلفة التصميم الخاص بك او البيت من 150$ واكثر
          <br><br>
          #2 - يمكنك اعادة بيعها في مزاد السيرفر ويكون ذلك من خلال ابلاغ مسوؤل المتجر عن تفويضه في بيعها
          <br><br>
          #3 - يجب ان تصل قيمة الطلب من قبل المشاركين في المزاد الى نفس المبلغ
          <br><br>
          #3 - مثال على ذلك
          <br><br>
          - اشتريت بيت بقيمة 200 وتم طرحه في المزاد و وصل السوم 250 = ستحصل على 200 و50 تكون ارباح للسيرفر
          <br><br>
          ---------------------------------------------------------------------------------------------------------------------------------------------
          <br><br>
          -قوانين المنتجات
          <br><br>
          في حال تم شراء اي منتج  مثل حزم في اي بي و الاحصنه و العربات و المنازل الخاصه و  يتم تعويضك بدل المال بشيء يعجبك  بسيرفر فالنتاين تبقى معاك الى الابد و بسيزون الجديد
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="isShow" (click)="gotoTop()" >
    <img src="../../assets/images/arrow-up.png" alt="">
</button>
</div>


