<div class="container-fluid bg-dark ">
    <div class="load fade-bottom">
    <div class="row p-5">
        <div class="top">
            <h1>إعلانات المدينة</h1>
            
        </div>
        
    </div>
</div>
    <div class="row " *ngFor="let s of icon">
        
        <div class="col-lg-3 col-md-3 col-sm-12 " >
            <div class="reveal fade-right">
            <h2> إعلان جديد !!! </h2>
            <i class="fa-solid {{s.icon}}">

            </i>
            <div class="social" > 
                        <a href="https://discord.gg/XMwA78AAWU" target="_blank">
                            <div class="uiverse ">
                                <span class="tooltip">disocrd</span>
                                <span >
                                    <i class="fa-brands fa-discord"></i>
                                </span>
                            </div>
                        </a>
                    </div>
         </div>
        </div>
    
        <div class="col-lg-7 col-md-9 col-sm-12 mb-5 " >
            <div class="reveal fade-bottom">
            <div class="left">
                <h3 class="row d-flex justify-content-center ">بسم الله الرحمن الرحيم</h3>
                <p class="row mt-5">
                    {{s.text}}
                </p>
                <b class="row mt-3">
                    {{s.info}}
                </b>
                <div class="row d-flex justify-content-center mt-3">
                    <img src="../../assets/images/{{s.image1}}" alt="" class="img-fluid">
                    <img src="../../assets/images/{{s.image2}}" alt="" class="img-fluid">
                </div>
            </div>
            <br><br>
        </div>
        </div>
        
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" >
        <img src="../../assets/images/arrow-up.png" alt="">
    </button>
    
</div>