

<div class="bg">

<div class="container">
    <div class="load fade-bottom">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading" >ستريمرس مدينة فالنتين</h2>
                
            </div>
        </div>
    <div class="row ">
        
    <div class="col-lg-3 col-md-4 col-sm-12 m-5" *ngFor="let s of item">
        <div class="card">
            <div class="imgBx">
                <img src="../../assets/images/{{s.image}}">
            </div>
            <div class="contentBx">
                <h2>{{ s.name }}</h2>
                <p>{{ s.description }}</p>
                <div class="btn">
                    <a href="{{ s.link }}"><i class="fa-brands fa-twitch"></i></a>
                    <a href="{{ s.link }}"><i class="fa-brands fa-discord"></i></a>
                </div>
                
            </div>
        </div>
    </div>
    </div>
</div>
</div> 
</div>