<div class="load fade-left">
<div class="container-fluid">
  <h1>ألبوم الصور </h1>
</div>
</div>
<div class="row m-2" *ngFor="let s of pic">
    <div class="load fade-bottom">
    <div class="col-lg-12 col-md-6 col-sm-12 p-3">
      <div class="image">
        <img src="../../assets/images/{{s.image1}}" alt="Avatar" class="img-fluid">
        <div class="overlay">
          <div class="text">{{s.info1}}</div>
        </div>
      </div>
    </div> 
</div>
    <div class="reveal fade-right">
    
    <div class="row m-2">
        
        <div class="col-lg-6 col-md-6 col-sm-12 p-3">
            <div class="image">
              <img src="../../assets/images/{{s.image2}}" alt="Avatar" class="img-fluid">
              <div class="overlay">
                <div class="text">{{s.info2}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 p-3">
            <div class="image">
              <img src="../../assets/images/{{s.image3}}" alt="Avatar" class="img-fluid">
              <div class="overlay">
                <div class="text">{{s.info3}}</div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="reveal fade-bottom">
    <div class="col-lg-12 col-md-6 col-sm-12 p-3">
      <div class="image">
        <img src="../../assets/images/{{s.image4}}" alt="Avatar" class="img-fluid">
        <div class="overlay">
          <div class="text">{{s.info4}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="reveal fade-right">
    
    <div class="row m-2">
        
        <div class="col-lg-6 col-md-6 col-sm-12 p-3">
            <div class="image">
              <img src="../../assets/images/{{s.image5}}" alt="Avatar" class="img-fluid">
              <div class="overlay">
                <div class="text">{{s.info5}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 p-3">
            <div class="image">
              <img src="../../assets/images/{{s.image6}}" alt="Avatar" class="img-fluid">
              <div class="overlay">
                <div class="text">{{s.info6}}</div>
              </div>
            </div>
          </div>
    </div>
  </div>
    
    <button *ngIf="isShow" (click)="gotoTop()" >
      <img src="../../assets/images/arrow-up.png" alt="">
    </button>
</div>  